/* This is the main stylesheet */

html,body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Candal', sans-serif;
    background-color: orange;
}
h2  {
    margin-left: 20px;
    font-size: 24px;
    height:38px;
}

/* For specific ids */
#wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}


#toolbar {
    background-color: red;
}

#bp_container {
    z-index: 1;
    position:fixed;
}

#blueprint {
    left: 0px;
    top: 0px;
}

#sidebar {
    width: 300px;
    color: lightblue;
    background-color: #001087;
    z-index: 0;
    position:absolute;
    top:0;
    right:0;
}

#furniturelist li{
    margin: 0px;
    padding: 20px 0px 20px 20px;
    border-left: 4px solid #001097;
    border-top: 4px solid #0010a7;
    border-bottom: 4px solid #001067;
}


#furniturelist li:hover{
    background: #001077;
    border-left: 4px solid #001097;
    border-bottom: 4px solid #0010a7;
    border-top: 4px solid #001067;
}